---
name: Build and Push Python Image to Google Cloud Platform Example
on:
  push:
    branches: [ main ]
jobs:
  build-push-gcr:
    name: Build and Push to GCP
    runs-on: ubuntu-latest
    
    permissions:
      contents: 'read'
      id-token: 'write'
    env:
      IMAGE_NAME: lesson-087
      PROJECT_ID: organic-nation-386906
    steps:
    - name: Checkout
      uses: actions/checkout@v2


    - name: Authenticate to Google Cloud
      uses: 'google-github-actions/auth@v1'
      with:
        token_format: 'access_token' # <--
        workload_identity_provider: 'projects/1040812485392/locations/global/workloadIdentityPools/my-pool/providers/my-provider'
        service_account: 'github-cloud-build@${{ENV.PROJECT_ID}}.iam.gserviceaccount.com'
        access_token_lifetime: '300s' # optional, default: '3600s' (1 hour)


    - name : Setup Gcloud
      uses: google-github-actions/setup-gcloud@v1
      
    - name: Build Docker Image
      run: docker build -t $IMAGE_NAME:latest .

    - name: Automatic Tagging of Releases
      id: increment-git-tag
      run: |
        bash ./scripts/git_update.sh -v major

    - name: Configure Docker Client
      run: |-
        gcloud auth configure-docker --quiet
        gcloud auth configure-docker asis-docker.pkg.dev --quiet

    - name: Push Docker Image to Container Registry (GCR)
      env:
        GIT_TAG: ${{ steps.increment-git-tag.outputs.git-tag }}
      run: |-
        docker tag $IMAGE_NAME:latest gcr.io/$PROJECT_ID/$IMAGE_NAME:latest
        docker tag $IMAGE_NAME:latest gcr.io/$PROJECT_ID/$IMAGE_NAME:$GIT_TAG
        docker push gcr.io/$PROJECT_ID/$IMAGE_NAME:latest
        docker push gcr.io/$PROJECT_ID/$IMAGE_NAME:$GIT_TAG

    - name: Push Docker Image to Artifact Registry
      env:
        GIT_TAG: ${{ steps.increment-git-tag.outputs.git-tag }}
      run: |-
        docker tag $IMAGE_NAME:latest asia-docker.pkg.dev/organic-nation-386906/asia.gcr.io/$IMAGE_NAME:latest
        docker tag $IMAGE_NAME:latest asia-docker.pkg.dev/organic-nation-386906/asia.gcr.io/$IMAGE_NAME:$GIT_TAG
        docker push asia-docker.pkg.dev/organic-nation-386906/asia.gcr.io/$IMAGE_NAME:latest
        docker push asia-docker.pkg.dev/organic-nation-386906/asia.gcr.io/$IMAGE_NAME:$GIT_TAG
